<h2 class="title is-2">My Cart</h2>
<% @order_details.each do |order| %>
  <div class="box columns">
    <div class="column is-2">
      <% if order.soap.image.present? %>
        <%= link_to image_tag(order.soap.image, alt: order.soap.name, size:"200x300"), order.soap %>
      <% end %>
    </div>
    <div class="is-four-fifth">
      <h3 class="subtitle is-3"><%= order.soap.name %></h3>
      <%= form_with model: order do |i| %>
        <%= i.hidden_field :soap_id, value: order.soap.id %>
        <p>Quantity: <%= i.number_field :quantity, value: order.quantity.to_i, class: "input" %></p>
        <div class="is-four-fifth">
          <%= i.submit "Update Cart", class: "button is-dark is-small" %>
          <%= link_to "Remove Items", order, method: :delete, class: "button is-danger is-small"%>
        </div>
      <% end %>
    </div>
    <div class="column">
      <p class="title is-4 is-offset-8 has-text-right mt-2 mr-2">$<%= order.soap.price * order.quantity  %></p>
    </div>
  </div>
<% end %>

<h3 class="block subtitle is-4 has-text-right">Your subtotal: <strong>$<%= current_order.amount %></strong></h3>
<% if current_order.order_details.present? %>
  <%= form_with(url: checkout_create_path, remote: true) do |f| %>
    <%= f.label :province_id, :class => "form-label" %>
    <% if user_signed_in? %>
      <div class="select">
        <%= f.select(:province_id, options_for_select(Province.all.collect {|p| [ p.name, p.id ] }, current_user.province_id), { include_blank: true }, :required => 'required',  :class => 'form' )%>
      </div>
    <% else %>
      <div class="select">
        <%= f.select(:province_id, options_for_select(Province.all.collect {|p| [ p.name, p.id ] }), { include_blank: true }, :required => 'required',  :class => 'form')%>
      </div>
    <% end %>
    <%= f.submit "Checkout Now!", data: { turbo: false }, :class => "button is-primary" %>
  <% end %>
<% end %>