<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <header>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <figure class="image is-96x96">
                <a href="/"><%= image_tag "logos/Logo-removebg-preview.png", alt: "3d Soaps Logo" %></a>
              </figure>
            </div>
            <div id="navbarBasicExample" class="navbar-menu is-active">
              <div class="navbar-start">
                <a class=" navbar-item has-text-dark" href="/">Home</a>
                <a class="navbar-item has-text-dark" href="/about">About</a>
                <a class="navbar-item has-text-dark" href="/categories">Categories</a>
                <div class="navbar-item has-text-dark">
                  <a class="has-text-dark" href="/cart/show">Cart</a>
                  <% if !OrderDetail.where(order_id: current_order.id).size.zero? %>
                    <span class="has-text-primary">
                      <%= OrderDetail.where(order_id: current_order.id).size %>
                    </span>
                  <% end %>
                </div>
                <div a class="navbar-item has-text-dark">
                  <% if user_signed_in? %>
                    <div><%= link_to current_user.email, edit_user_registration_path %></div>
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
              </div>
            </div>
          </nav>
        </header>
        <% if flash[:notice] %>
          <p>
            <%= flash[:notice] %>
          </p>
        <% end %>
        <p class="alert"><%= alert %></p>
        <p class="block">
          <%= render_breadcrumbs :separator => ' > ' %>
        </p>
        <%= yield %>
        <%= render partial: 'common/footer' %>
      </div>
    </section>
  </body>
</html>
