<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <header>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <figure class="image is-96x96">
                <a href="/"><%= image_tag "logos/Logo-removebg-preview.png", alt: "3d Soaps Logo" %></a>
              </figure>
            </div>
            <div id="navbarBasicExample" class="navbar-menu is-active">
              <div class="navbar-start">
                <a class=" navbar-item has-text-dark" href="/">Home</a>
                <a class="navbar-item has-text-dark" href="/about">About</a>
                <a class="navbar-item has-text-dark" href="/categories">Categories</a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <summary class="has-text-dark navbar-link">
                    <a href="/cart/index">Cart</a>
                    <% if cart.present? %>
                      <sup><%= cart.size %></sup>
                    <% end %>
                  </summary>
                  <ul>
                    <div class="navbar-dropdown">
                      <% cart.each do |soap| %>
                        <li class="navbar-item">
                          <%= soap.name %><%= button_to "Delete", cart_path(soap), class: "button is-text button is-small", method: :delete %>
                        </li>
                      <% end %>
                    </div>
                  </ul>
                </div>
                <div a class="navbar-item has-text-dark">
                  <% if user_signed_in? %>
                    <div> Welcome <%= current_user.email %> </div>
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
              </div>
            </div>
          </nav>
        </header>
        <% if flash[:notice] %>
          <p>
            <%= flash[:notice] %>
          </p>
        <% end %>
        <p class="alert"><%= alert %></p>
        <p class="block">
          <%= render_breadcrumbs :separator => ' > ' %>
        </p>
        <%= yield %>
        <%= render partial: 'common/footer' %>
      </div>
    </section>
  </body>
</html>
